# Ignore large dataset files
Kaggle/Datasets/ChEMBL22/chembl22.csv
Kaggle/Datasets/ChEMBL22/chembl22_lipinski.csv
Kaggle/Datasets/ChEMBL22/smiles/chembl_22_clean_1576904_sorted_std_final.smi
Pandas/Dados/*.xlsx
GitHub/DS-Portfolio/